body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.sub-comments{
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

.jumbotron {
    margin: 50px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.comment {
    margin: 10px 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.icon-say {
    margin-right: 8px;
    font-size: 15px;
    cursor: pointer;
}

.active {
    color: #499ef3;
}

.icon-say:hover {
    color: #499ef3;
}

.comment-icon{
    font-size: 15px;
    cursor: pointer;
}
.comment-icon:hover{
    color: #499ef3;
}

.question-related{
    line-height: 30px;
    font-size: 14px;
    list-style: none;
    padding-left: 0;
}

.wechat{
    width: 65%;
}

.publish-tag-tab{
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-info{
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}
